
.ecw-container {

    * {
        box-sizing: border-box; 
    }

    #volContainer {
        float: left;
    }

    #infoContainer {
        float: left;
        width: 400px;
        margin-left: 10px;
    }

    h2 {
        margin: 0 0 10px 0;
    }

    p {
        padding: none; 
        margin: 0 0 10px 0;
        clear: both;
    }

    button {
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
    }

    button:not(.active):hover {
        cursor: pointer;
        background-color: #ddd;
    }

    label {
        margin-right: 5px;
    }

    select, input {
       border-radius: 0;
       border: 2px solid #eee;
    }

    input:invalid {
        border-color: #c15c5c;
    }

    .ecw-mass-number-input {
        width: 70px;
    }

    .ecw-form-row {
        float: left;
        clear: left;
        width: 100%;
        margin-bottom: 10px;
    }

    .ecw-controls {
        float: left;
        border: 2px solid #eee;
        width: 100%;
        padding: 5px 5px 0 5px;
        margin: 0 0 10px 0;
    }

    #submit {
        float: right;
    }
    
    .active, #submit:active {
        background-color: #f2781f;
        color: #ffffff;
    }

    .inactive {
        background-color: #eeeeee;
        color: #000000;
    }

    #stats {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        width: 100%;
    }

    .ecw-stat-box {
        border: 2px solid #eee;
        padding: 5px 5px 0 5px;
        margin-bottom: 10px;
        
        p {
            margin-bottom: 5px;
        }
    }

    #buttonContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 5px;
        margin: 0 0 10px 0;
        width: 100%;
    }

}
